@model Test_Project.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId },new {@class="btn btn-success"}) 
    @Html.ActionLink("Back to List", "Index","Product", new { @class = "btn btn-secondary" })
</p>
